# Ambiente
ENVIRONMENT=development
DEBUG=True

# Modelo
MODEL_PATH=models/model.joblib
MODEL_VERSION=1.0.0

# API
API_HOST=0.0.0.0
API_PORT=8000

# Logging
LOG_LEVEL=INFO
LOG_FILE=logs/app.log

# Dados
DATA_FILE=data/raw/BASE DE DADOS PEDE 2024 - DATATHON.xlsx
